<div class="container mt-4" *ngIf="movie">
    <!-- Video de YouTube -->
    <div class="youtube-video">
        <iframe
        width="100%"
        height="500px"
        [src]="getVideoEmbedUrl(movie.trailer)" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
        </iframe>
    </div>
    <div class="movie-detail">
        <!-- Movie Header with Title, Duration, Genre, and Buy Button -->
        <div class="movie-header">
            <div class="movie-info">
                <h1 class="movie-title">{{ movie.title }}</h1>
                <p class="movie-meta">Duracion: {{ formatDuration(movie.duration_mins) }}</p>
                <button class="btn btn-primary buy-button" (click)="scrollToShowtimes()">Comprar</button>
            </div>
        </div>
    
        <!-- Movie Poster and Additional Info -->
        <div class="movie-content">
            <!-- Movie Poster and Premiere Ribbon -->
            <div class="movie-poster">
                <div *ngIf="movie.is_premiere" class="ribbon">
                    <span>Estreno</span>
                </div>
                <img [src]="movie.poster" class="img-fluid" alt="{{ movie.title }}">
            </div>
    
            <!-- Additional Movie Info -->
            <div class="movie-details">
                <h3>Género</h3>
                <p>{{ movie.genre }}</p>
                <h3>Sinopsis</h3>
                <p>{{ movie.synopsis }}</p>
                <h4>Director</h4>
                <p>{{ movie.director }}</p>
                <h4>Fecha de Salida</h4>
                <p>{{ movie.release_date | date }}</p>
            </div>
        </div>
    </div>

    <!-- Available Functions -->
    <div class="movie-showtimes" id="showtimes">
        <h4>Funciones Disponibles</h4>
        <ul class="showtime-list">
            <li *ngFor="let showtime of showtimes" class="showtime-item">
                <div class="showtime-left">
                    <span class="showtime-date">{{ showtime.show_date | date:'EEEE, MMM d' }}</span>
                    <span class="showtime-time">{{ showtime.show_time }} a {{ showtime.end_time }}</span>
                </div>
                <div class="showtime-right">
                    <span class="showtime-hall">Sala: {{ showtime.hall }}</span>
                    <span class="showtime-seats">Asientos Disponibles: {{ showtime.available_seats || 0 }}</span>
                    <a [routerLink]="['/', showtime.id, 'asientos']" class="btn btn-primary buy-ticket-button">Comprar Ticket</a>
                </div>
            </li>
        </ul>
    </div>
</div>