<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="/assets/logo.png" alt="Logo" style="height: 50px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/peliculas" routerLinkActive="active" aria-current="page">Cartelera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/estrenos" routerLinkActive="active">Estrenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/perfil" routerLinkActive="active">Perfil</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Buscar">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>

</nav>