body {
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10%;
  font-size: 1.4rem;
}

button {
  width: 40vw;
  font-size: 1.4rem;
}