/* Estilos para el cuerpo del documento */
body {
  display: flex; /* Mostrar los elementos como una fila */
  flex-direction: column; /* Alinear los elementos en columna */
  align-items: center; /* Centrar horizontalmente los elementos */
  justify-content: center; /* Centrar verticalmente los elementos */
  gap: 20px; /* Espacio entre los elementos */
  padding: 10%; /* Margen interno del cuerpo */
  font-size: 1.4rem; /* Tamaño de fuente por defecto para el cuerpo */
  background-color: #f4f4f4; /* Color de fondo del cuerpo */
}


#num1,#num2{
  width: 25%; /*Permite modificar el width del cuadro donde ingreso los numeros*/
  font-size: 1.2rem;
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 5px;
  text-align: center;
}


/* Estilos para el contenedor del rectángulo */
.rectangulo {
  display: flex; /* Mostrar los elementos como una fila */
  flex-direction: column; /* Alinear los elementos en columna */
  align-items: center; /* Centrar horizontalmente los elementos */
  gap: 10px; /* Espacio entre los elementos */
  width: 300px; /* Ancho fijo del contenedor del rectángulo */
  padding: 20px; /* Margen interno del contenedor */
  border-radius: 15px; /* Bordes redondeados */
  border: 2px solid #e67e22; /* Borde del contenedor */
  background-color: #f9f9f9; /* Color de fondo del contenedor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra alrededor del contenedor */
}

/* Estilos para el título h2 */
h2 {
  font-size: 1.8rem; /* Tamaño de fuente para el título */
  margin: 0; /* Elimina el margen predeterminado del título */
}

/* Estilos para los campos de entrada input */
input {
  width: 100%; /* Ancho del 100% para que ocupen todo el ancho disponible */
  font-size: 1.2rem; /* Tamaño de fuente para los campos de entrada */
  padding: 8px; /* Espacio interno para los campos de entrada */
  border: 2px solid #ddd; /* Borde para los campos de entrada */
  border-radius: 5px; /* Bordes redondeados para los campos de entrada */
}

/* Estilos para los botones */
button {
  width: 100%; /* Ancho del 100% para que ocupen todo el ancho disponible */
  font-size: 1.4rem; /* Tamaño de fuente para los botones */
  color: #fff; /* Color del texto de los botones */
  background-color: #e67e22; /* Color de fondo de los botones */
  border: none; /* Elimina el borde predeterminado de los botones */
  border-radius: 8px; /* Bordes redondeados para los botones */
  padding: 10px; /* Espacio interno para los botones */
  cursor: pointer; /* Cambia el cursor del mouse cuando se coloca sobre los botones */
}

/* Estilos para el estado hover de los botones (cuando se coloca el ratón sobre ellos) */
button:hover {
  background-color: #ff9933; /* Cambia el color de fondo de los botones en el estado hover */
}

/* Estilos para el resultado .res */
.res {
  font-weight: bold; /* Estilo en negrita para el resultado */
  font-size: 1.6rem; /* Tamaño de fuente para el resultado */
}
